:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;

}

html {
    scroll-behavior: smooth;
}

body {
 font-family: "cairo", sans-serif;
 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);

}
.main-title::before,
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
   
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;

}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;

}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/*start header */

.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50%;
    }

}
.header .main-nav {
    display: flex;

}

@media (max-width:767px) {
    .header .main-nav {
        margin: auto;
    }

}
 .header .main-nav > li:hover .mega-menu {
     opacity: 1;
     z-index: 100;
     top: 100%;
     
 }
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    transition: var(--main-transition);
    
}

@media (max-width:767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);

}

.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
    left: 0;

}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);

}

@media (max-width:767px){
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu  .image img {
    max-width: 100%;
    
}

@media (max-width:991px) {
    .header .mega-menu  .image img {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
    
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;

    }

}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
    
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    
}

.header .mega-menu .links li i {
    margin-right: 10px;
    
}



/*end header */

/*start articlrs*/
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;

}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition) ;
    
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
    
}
.articles .box .content {
    padding: 20px;
    
}
.articles .box .content h3 {
    margin: 0;
    
}
.articles .box .content h4 {
    text-align: center;
    
}
.articles .box .content  p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;

    
}
.articles .box .info i {
    color: var(--main-color);
}
.articles .box:hover .info i {
    animation: moving-shop 0.6s linear infinite;
}


/*end articlrs*/

/*start animation*/


@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-shop {
    100% {
        transform: translateX(10px);
    }
}

